<h1> <%= @user.user_name %> </h1>
<%= image_tag @user.avatar.url(:thumb) if @user.avatar_file_name != nil %>
<br>

<ul>
  <li><%= link_to "Edit Profile", edit_user_path(@user) %></li>
  <li><%= link_to "Delete Profile", user_path(@user), :data => {:confirm => "You sure bro?", :method => 'delete'} %></li>
</ul>
