
<h1>Home Page</h1>

<% if @images.any? %>
  <% @images.each do |image| %>
  <a href="/users/<%= image.user.id %>/images/<%= image.id %>">
    <div class="img-in-grid" style="background-image:url(<%= image.avatar %>);">
      <div class="black"></div>
      <figcaption><%= image.caption %></figcaption>
    </div>
  </a>
  <% end %>
<% else %>
  <h1> Flickr Died </h1>
<% end %>
