/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .content-wrapper {
   padding: 4em 0;
 }
 ul {
   padding: 0;
   list-style: none;
   li {

   }
 }
 .my-nav {
   padding-top: 1em;
   position: fixed;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.9);
   border-bottom: solid 1px #333;
   z-index: 10;
   ul {
     padding: 0;
     li {
       display: inline;
       margin-right: 1em;
       a {
         color: inherit;
       }
       img {
         height: 1em;
       }
     }
     .li-right {
       float: right;
     }
   }
 }
label, textarea, button, input {
  display: block;
}
input[type="submit"], label {
  margin-top: 1em;
}
