<div class="full-size-image">
  <h4>posted by <%= link_to @image.user.user_name, user_images_path(@image.user) %> <em><%= time_ago_in_words(@image.avatar_updated_at) %> ago</em></h4>
  <%= image_tag @image.avatar %>
  <figcaption><%= @image.caption %></figcaption>
</div>
